$happy-color: #ecf0f1
$unhappy-color: #f1c40f
$angry-color: #e74c3c
$text-color: black

$padding: 6px
$margin: 6px

*
	box-sizing: border-box

html
	height: 100%
	padding: 10px


body
	font-family: Arial, sans-serif
	text-align: center

	margin: none
	padding: none

	height: 100%
	&.happy
		background-color: $happy-color
	&.unhappy
		background-color: $unhappy-color
	&.angry
		background-color: $angry-color

.container
	display: flex
	flex-direction: column

	align-items: center
	align-content: center

	height: 100%

.secondary
	margin: 0
	&#export
		margin-top: auto
	&.hide
		display: none

input[type='text']
	padding: $padding
	margin: $margin

	font-size: 16px
	width: 15vw

button
	padding: $padding
	margin: $margin

	font-size: 20px
	cursor: pointer
	color: $text-color

	&#toggleTimer
		width: calc(30vw + $padding*2 + $margin*1)
	&#exportCSV, &#resetStorage
		margin-bottom: 10px
		max-width: 230px
	&#resetStorage
		color: red
	
#timerDisplay, #studentNameDisplay
	font-size: 100px
	margin: 5px 0
	color: $text-color

#catGraphic
	max-height: 300px
	margin: none
	object-fit: contain
	transition: 0.5s
	&.hide
		display: none